@CHARSET "UTF-8";


body {
  padding-top: 60px;
  margin:auto;
  padding:auto;
  text-align: center;

}
.row{
	text-align: center;
}

.center{
	display: block;
	text-align: center;
}

.select:hover{
	background-color:#c0c0c0;
	color:#fff;
	border:5px #0000ffsolid;
	position:relative;
	top:3px;
	left:3px;
}



input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}
button{
  border: 1px solid #bbb;
  width: 20%;
  margin-bottom: 15px;

}

.label{
	font-size: 1.1em;
  	line-height: 1.7em;
  	float:left;
  	color:#000;
}

#labelName{
	font-size: 1.1em;
  	line-height: 1.7em;
  	margin-right: 20px;
  	 border: 1px solid #bbb;

  margin-bottom: 15px;
	background-color:#408080;
  	color:#fff;

}