@media print{
@page{ size: landscape; margin: auto; }

	.printarea {
		display: block;
	}

	.noprint{
		display: none;
	}

	.table-borderd {
		border: 1px solid #000;
		border-collapse: collapse;
		border-spacing: 0;
	}

}