@CHARSET "UTF-8";

#lec {
;
}

.tb{
border:5;
}

.info , .info tr , .info td{
background-color:#6699ff;
}

.sld , .sld td{
background-color:#ffee99;
}

#sldCell100{
	display:none;
}
