@CHARSET "UTF-8";

/*ボタン*/
#lec {
}

.tb{
border:5;
}

/*スライド対象(教室、講師)css*/
.sldRow{
background-color:#6699ff;
height:50px;
width:100px;
}

.sldRow tr{

}

/*表示切替対象セルの文字2行目*/
#sldCell100{

}

/*表示切替対象セルの文字3行目*/
#sldCell101{

}


/*スライド対象css*/

/*授業セル*/
.info{
height:30px;
width:20px;
background-color:#6699ff;
}

/*授業セル*/